/* FILEPATH: /F:/SDAProject/VisionaryOptics/demo/src/main/resources/com/example/demo/hello-view.css */

.root{
    -fx-background-color: #fff;
}
.label{
    -fx-text-fill:rgba(100, 39, 39, 0.918);
    -fx-font-family:"sans-serif";
    -fx-font-size:15px;
}

.text-field {
    -fx-background-color: rgb(250, 227, 227);
    -fx-text-fill: rgb(63, 21, 21);
    -fx-font-size: 9px;
    -fx-radius: 9; /* Adjust the value to make borders rounder */
    -fx-prompt-text-fill: rgba(175, 67, 67, 0.432); /* Color of the prompt text */
    -fx-effect: innershadow(gaussian, #cf7676, 1, 0, 0, 0);
    -fx-border-color: transparent; /* Corrected border color */

    -fx-background-radius: 9; /* Adjust the value to make borders rounder */
    -fx-border-radius: 9; /* Adjust the value to make borders rounder */
    
}

.text-field:focused {
    -fx-border-color: #cf7676;
    -fx-border-width: 2px;
    -fx-background-radius: 9; /* Adjust the value to make borders rounder */
    -fx-border-radius: 9; 
}
.button {
    -fx-font-family: "sans-serif";
    -fx-font-size: 14px;
    -fx-background-color: rgb(250, 227, 227);
    -fx-text-fill: rgb(63, 21, 21);
    -fx-background-radius: 9; /* Adjust the value to make the background rounder */
    -fx-border-color: transparent; /* Corrected border color */
    -fx-border-radius: 9; /* Adjust the value to make the border rounder */
    -fx-background-insets: 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: rgba(151, 17, 17, 0.74);
    -fx-text-fill: white;
    -fx-background-insets: 0, 0, 1, 2;
    /* make mouse pointer change */
    -fx-cursor: hand;
}

#categorySelect .combo-box-popup {
    -fx-background-color: #f2e9e9;
    -fx-font-family: "sans-serif";
    -fx-font-size: 14px;
    -fx-text-fill: rgb(63, 21, 21);
    -fx-background-radius: 9;
    -fx-border-color: white; /* Adjusted border color */
    -fx-border-radius: 9;
}

#categorySelect .list-cell {
    -fx-background-color: #f2e9e9;
}

#categorySelect .list-cell:hover {
    -fx-background-color: rgba(158, 55, 55, 0.8);
    -fx-text-fill: white;
}